.image_content {
  width: 765px;
  height: 768px;
  left: 765px;
  top: 768px;

  background: linear-gradient(360deg, #130525 0%, rgba(105, 57, 153, 0) 100%),
    url("../../Assets/img.png");
}

img .image {
  width: 766px;
  height: 768px;
  left: -1px;
  top: 0px;
}
